<a href="https://colab.research.google.com/github/Chanunchida-May/data_viz_2022/blob/main/Pandas101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd #import paddas เพื่อนำเอาไปใช้งาน

.CSV = Comma Separated Values

data.go.th

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import os #จัดการหาไฟล์ที่อยู่ในไดร์ฟ

In [13]:
path = '/content/drive/My Drive/dataviz_2022' #ชี้ไฟล์ในไฟล์

In [14]:
covid_file_path = os.path.join(path,'pm-20-jan-2021.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(covid_file_path)

/content/drive/My Drive/dataviz_2022/pm-20-jan-2021.csv

In [ ]:
a = path + '/pm-18-jan-2021.csv' 
print(a)

## load data to memory

In [15]:
data_covid = pd.read_csv(covid_file_path) #โหลดดาต้าโดยใช้คำสั่ง pd.read_csv
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [16]:
data_covid.head() #ดูหัวตารางจะเเสดง

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
data_covid.head(10) #n=10 สามารถกำหนดค่า n ได้

In [17]:
data_covid.tail() #ดูท้ายตาราง

         No.  ...                                         risk
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [18]:
data_covid.shape #ดูขนาดของเเถวเเละคอลัมน์

(12653, 10)

## ชี้ค่าในตาราง

#### basic

In [19]:
data_covid['province_of_onset'] #ชี้ไปที่ชื่อคอลัมน์ที่เราต้องการ

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [20]:
data_covid['province_of_onset'][4] #ชี้ที่ลำดับในrows

'กรุงเทพมหานคร'

In [21]:
data_covid['province_of_onset'][12649]

'ระยอง'

#### .iloc

In [ ]:
data_covid.iloc[4,7]

## Table slicing

#### ตัดมาเฉพาะ column ที่ต้องการ

In [22]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']] #ตัดตารางเเละเลือกตารางที่ต้องการ
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12648     1/20/2021  ...                             State Quarantine
12649     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651     1/20/2021  ...                                Cluster ระยอง
12652     1/20/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 3 columns]

#### ตัดเฉพาะ rows ที่ต้องการ

##### แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [23]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

$pddf$[list_of_logical_values] คือการเลือก row ที่ logical values เป็น True

In [27]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12648           ชลบุรี
12649            ระยอง
12650            ระยอง
12651            ระยอง
12652              ตาก
Name: province_of_onset, Length: 12653, dtype: object

In [29]:
data_covid['province_of_onset']=='ขอนแก่น' #ดูว่าคอลัมน์ไหนเป็นขอนเเก่น ถ้าไม่เป็นขอนเเก่นจะเเสดงค่า false ออกมา

0        False
1        False
2        False
3        False
4        False
         ...
12648    False
12649    False
12650    False
12651    False
12652    False
Name: province_of_onset, Length: 12653, dtype: bool

In [30]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น'] #เเสดงตารางที่เป็นค่า True

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

In [31]:
data_covid[data_covid['age']>=70]  #เเสดงอายุมากกว่า70

         No.  ...                                               risk
1          2  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
7          8  ...                   คนต่างชาติเดินทางมาจากต่างประเทศ
24        25  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
82        83  ...                                            สนามมวย
...      ...  ...                                                ...
11694  11695  ...      ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
11700  11701  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11730  11731  ...                                  Cluster สมุทรสาคร
11741  11742  ...                               อยู่ระหว่างการสอบสวน
12102  12103  ...                                  Cluster สมุทรสาคร

[245 rows x 10 columns]

การชี้ค่าในตารางด้วย data_covid[***x***] ค่า ***x*** สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ


1.   ชื่อ column
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มี***ขนาดเท่ากับจำนวนแถว*** แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (```True```/```False```))

In [36]:
eight_rows_covid = data_covid.iloc[:8,3:] # ตารางตัวอย่าง โดยเลือกตั้งเเต่ตัวเเรกจนถึงก่อนเลข8 เเละเอาตั้งเเต่คอลัมน์ที่3เป็นต้นไป
eight_rows_covid

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7  หญิง  73.0  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 7 columns]

In [39]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]   #2.   ใส่ list ที่มีค่า logic ของเเต่ละ rows โดยที่ค่า True ตัวที่เลือก เเละค่า false คือ ไม่ต้องการ

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2  หญิง  73.0  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 7 columns]

In [41]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'  #สร้าง list ของ logical expression

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [40]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']  #เราเอา 2 บรรทัดบนมาบวกกัน

    sex   age  ... district_of_onset                              risk
0  หญิง  61.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1  หญิง  74.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3   ชาย  68.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4  หญิง  66.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5  หญิง  33.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6  หญิง  57.0  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 7 columns]

In [42]:
eight_rows_covid['district_of_onset'] == 'เมือง'

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
Name: district_of_onset, dtype: bool

In [43]:
import numpy as np

# .isnull() ใช้ตรวจสอบว่าเป็น NaN หรือไม่

In [45]:
eight_rows_covid['district_of_onset'].isnull() #ตัวไหนที่เป็นค่าว่างจะเป็น true ส่วนตัวไหนที่ไม่ว่างจะเป็น false

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: district_of_onset, dtype: bool

Quiz (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)

1.   คำนวณ อายุเฉลี่ย ของผู้ชาย ในข้อมูลทั้งหมด
2.   คำนวณ อายุเฉลี่ย ของผู้ชาย ในจังหวัดขอนแก่น
3.   หาจำนวนผู้ป่วยที่เป็นคน "**ที่ไม่ใช่คนไทย**"

In [46]:
this_data = data_covid[['sex','age','province_of_onset']] #เลือกคอลัมน์ เพศ อายุ จังหวัดอออกมา

In [47]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [48]:
female = this_data[this_data['sex']=='หญิง'] #เลือกเฉพาะค่าที่เป็นผู้หญิง
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12648    44.0
12649    52.0
12650    23.0
12651    29.0
12652    22.0
Name: age, Length: 5332, dtype: float64

In [89]:
sum = 0   #เริ่มต้น0เพราะว่าจะเอาค่าอื่นมาบวกกัน  โดยจะเริ่มจากค่า 1 หรือ 10 ไม่ได้
N = 0     #นับจำนวนว่ามีกี่คนที่นำเอามาหาร
for a in female['age']: #วนลูปดูค่าอายุที่อยู่ในคอลัมน์
    
    if a > 0:
        sum += a   # sum = sum + a
        N += 1   

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง 36.63955450022614

In [90]:
female_KK = female[female['province_of_onset']=='ขอนแก่น'] #เลือกข้อมูลที่สนใจมา

sum = 0 
N = 0
for a in female_KK['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยหญิง ในจังหวัดขอนแก่น 41.57142857142857

In [93]:
female[(female['province_of_onset']=='ขอนแก่น')| (female['province_of_onset']== 'นครราชสีมา')]  # | หมายถึง or คือเอาข้อมูลที่เกี่ยวข้องมาเเสดง

        sex   age province_of_onset
211    หญิง  22.0        นครราชสีมา
462    หญิง  36.0           ขอนแก่น
763    หญิง  47.0        นครราชสีมา
948    หญิง   9.0        นครราชสีมา
949    หญิง   1.0        นครราชสีมา
950    หญิง  29.0        นครราชสีมา
1327   หญิง  23.0        นครราชสีมา
1414   หญิง  66.0        นครราชสีมา
1484   หญิง  42.0        นครราชสีมา
1970   หญิง  70.0           ขอนแก่น
2116   หญิง  37.0        นครราชสีมา
2238   หญิง  51.0        นครราชสีมา
2260   หญิง  41.0        นครราชสีมา
2637   หญิง  63.0           ขอนแก่น
2823   หญิง  31.0        นครราชสีมา
2931   หญิง  34.0        นครราชสีมา
5811   หญิง  47.0        นครราชสีมา
5948   หญิง  32.0           ขอนแก่น
5953   หญิง  46.0        นครราชสีมา
6082   หญิง  36.0           ขอนแก่น
8994   หญิง  55.0        นครราชสีมา
11001  หญิง  37.0        นครราชสีมา
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

In [94]:
female[(female['province_of_onset']=='ขอนแก่น')| (female['province_of_onset']== 'นครราชสีมา') | (female['province_of_onset']== 'ภูเก็ต')]

        sex   age province_of_onset
13     หญิง  32.0            ภูเก็ต
141    หญิง  39.0            ภูเก็ต
142    หญิง   7.0            ภูเก็ต
211    หญิง  22.0        นครราชสีมา
299    หญิง  26.0            ภูเก็ต
...     ...   ...               ...
6082   หญิง  36.0           ขอนแก่น
8994   หญิง  55.0        นครราชสีมา
11001  หญิง  37.0        นครราชสีมา
11697  หญิง  17.0           ขอนแก่น
11698  หญิง  37.0           ขอนแก่น

[157 rows x 3 columns]

# 1.   คำนวณ อายุเฉลี่ย ของผู้ชาย ในข้อมูลทั้งหมด

In [54]:
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12648  12649  ...                             State Quarantine
12649  12650  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12650  12651  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12651  12652  ...                                Cluster ระยอง
12652  12653  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12653 rows x 10 columns]

In [56]:
this_data1 = data_covid[['sex','age','province_of_onset']]

In [57]:
this_data1

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12648  หญิง  44.0            ชลบุรี
12649  หญิง  52.0             ระยอง
12650  หญิง  23.0             ระยอง
12651  หญิง  29.0             ระยอง
12652  หญิง  22.0               ตาก

[12653 rows x 3 columns]

In [74]:
male = this_data[this_data1['sex']=='ชาย'] #เเสดงว่าเพศชายอยู่ที่เเถวที่เท่าไหร่ในคอลลัมน์
male['age'] #เเสดงอายุของเพศชาย

3        68.0
8        63.0
10       33.0
11       61.0
12        6.0
         ...
12640    66.0
12641    29.0
12643    39.0
12646    18.0
12647    42.0
Name: age, Length: 4819, dtype: float64

In [59]:
sum = 0
N = 0
for a in male['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยชาย {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยชาย 39.46076940331987

In [61]:
male_KK = male[male['province_of_onset']=='ขอนแก่น'] #คำนวณ อายุเฉลี่ย ของผู้ชาย ในจังหวัดขอนแก่น

sum = 0
N = 0
for a in male_KK['age']:
    
    if a > 0:
        sum += a # sum = sum + a
        N += 1

print(f'อายุเฉลี่ย ของ ผู้ป่วยชาย ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้ป่วยชาย ในจังหวัดขอนแก่น 26.571428571428573

#หาจำนวนผู้ป่วย "ที่ไม่ใช่คนไทย"

In [76]:
this_data_updated_2 = data_covid[['sex','age','nationality']]

In [77]:
this_data_updated_2

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
2      หญิง  73.0    Thailand
3       ชาย  68.0       China
4      หญิง  66.0       China
...     ...   ...         ...
12648  หญิง  44.0    Thailand
12649  หญิง  52.0    Thailand
12650  หญิง  23.0    Thailand
12651  หญิง  29.0    Thailand
12652  หญิง  22.0       Burma

[12653 rows x 3 columns]

In [81]:
foreign1 = this_data_updated_2[this_data_updated_2['nationality']!='Thailand']
foreign1

        sex   age nationality
0      หญิง  61.0       China
1      หญิง  74.0       China
3       ชาย  68.0       China
4      หญิง  66.0       China
5      หญิง  33.0       China
...     ...   ...         ...
12614  หญิง  43.0       Burma
12615  หญิง  35.0       Burma
12617  หญิง  12.0     Ireland
12618  หญิง  34.0    Pakistan
12652  หญิง  22.0       Burma

[5340 rows x 3 columns]

การจัดการ Missing Value

- ลบ record ที่เป็น missing 
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknown
- ใช้ ค่าจาก columns อื่นๆ ช่วยประมาณค่า ค่าใน column ที่หายไป (regression, deep learning, etc.)

### ลบ record (dropna)

missing = ```None``` ```NA```(not autorized) ```NaN``` (not a number)

In [ ]:
this_data.shape #(12423, 3)

In [ ]:
print(data_covid.shape)
print(data_covid.dropna().shape)

In [ ]:
this_data.dropna().shape

In [ ]:
this_data.dropna()

In [ ]:
this_data.dropna()
print(this_data.shape)

In [ ]:
this_data.dropna(inplace=True)

In [ ]:
this_data.dropna(inplace=True)
print(this_data.shape)

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

In [ ]:
this_data.dropna().shape

In [ ]:
this_data.dropna(subset=['age']).shape

### แทน missing ด้วยค่าที่เหมาะสม (```fillna```)

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]

In [ ]:
this_data.head()

In [ ]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f'จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=["province_of_onset"]).shape[0]}')

In [ ]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้', 'age':-1, 'province_of_onset':'ไม่รู้'})
this_data_updated.head()

In [ ]:
this_data_updated[this_data_updated['sex']=='ไม่รู้']

In [ ]:
this_data_updated['province_of_onset']=='ไม่รู้'

In [ ]:
data_covid[this_data_updated['province_of_onset']=='ไม่รู้']

In [ ]:
this_data_updated_2 = this_data.fillna(value={'province_of_onset':'ไม่รู้'})

In [ ]:
this_data_updated_2[this_data_updated['sex']=='ไม่รู้']

### การวนลูป record ในตาราง  (```.iterrows```)

In [ ]:
this_data = data_covid[['sex','age','province_of_onset']]

In [ ]:
for each_row in this_data.iterrows():
    # print(each_row)
    # print(each_row[1])
    if (each_row[1]['age'] == 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น'):
        print(each_row)

### การวนลูป แบบมองตารางแพนด้าส์(pandas dataframe) เป็น numpy array  (```.iloc```)

In [ ]:
for each_row in range(this_data.shape[0]):
    if (this_data.iloc[each_row,1] == 20) and (this_data.iloc[each_row,2] == 'ขอนแก่น'):  #each_row คือ ตัวเลข
        print(each_row)
        print(this_data.iloc[each_row,:])

## Quiz ตัดตารางออกมาเฉพาะปี 2021 ```announce_date``` ในปี 2021 

**Hint**
*   วนลูปหา index ของปี 2021
*   ตัดตารางมาเฉพาะ ปี 2021

In [ ]:
TF=list()
for each_row in data_covid.iterrows():
    if each_row[1]['announce_date'].split('/')[2] == '2021':
        TF.append(True)
    else:
        TF.append(False)

data_covid[TF].head()

# Function ตัวช่วยใน pandas

### ```.describe()``` คำนวณค่าทางสถิติของข้อมูลที่เป็นตัวเลข

In [ ]:
data_covid.describe()

### ```.mean()``` คำนวณค่าเฉลี่ยของข้อมูลโดยไม่สนใจ missing

In [ ]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

### ```.isnull()```

In [ ]:
data_covid.isnull()

# next
*   .describe
*   .mean
*   HW วนลูป missing .isnull
*   ต่อตารางแกน X แกน y
*   .groupby
*   save table